extends ../layout.pug

block content
  <table class="ui celled table">
    <thead>
      <tr>
        <th>id</th>
        <th>Brand</th>
        <th>State</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      each val, index in cars
        tr
          td(data-label='Id')=JSON.stringify(cars[index]._id)
          td(data-label='Brand')
            .ui.input
                input(value=JSON.stringify(cars[index].brand))
          td(data-label='State')
            .ui.input
                input(value=JSON.stringify(cars[index].state))
          td(data-label='Edit')
            a Edit
          td(data-label='Delete')
            a Delete
    </tbody>
  </table>

  <a href="/add-car" class="ui primary button"> Add Car </a>
