extends ../layout.pug

block content
  <table class="ui celled table">
    <thead>
      <tr>
        <th>id</th>
        <th>FIO</th>
        <th>Passport</th>
        <th>Telephone</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      each val, index in clients
        tr
          td(data-label='Id')=JSON.stringify(clients[index]._id)
          td(data-label='FIO')
            .ui.input
                    input(value=JSON.stringify(clients[index].FIO))
          td(data-label='Passport')
            .ui.input
                  input(value=JSON.stringify(clients[index].passport))
          td(data-label='Telephone')
            .ui.input
                  input(value=JSON.stringify(clients[index].tel))
          td(data-label='Edit')
            a Edit
          td(data-label='Delete')
            a Delete
    </tbody>
  </table>
  <a href="/add-car" class="ui primary button"> Add Car </a>
