extends ../layout.pug

block content
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Id_client</th>
        <th>Id_car</th>
        <th>Date</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      each val, index in contracts
        tr
          td(data-label='Id')=JSON.stringify(contracts[index]._id)
          td(data-label='Id_client')
            .ui.input
                  input(value=JSON.stringify(contracts[index].id_client))
          td(data-label='Id_car')
            .ui.input
                  input(value=JSON.stringify(contracts[index].id_car))
          td(data-label='Date')
            .ui.input
                  input(value=JSON.stringify(contracts[index].date_begin))
          td(data-label='Price')
            .ui.input
                  input(value=JSON.stringify(contracts[index].price))
          td(data-label='Edit')
            a Edit
          td(data-label='Delete')
            a Delete

            
    </tbody>
  </table>
  <a href="/add-car" class="ui primary button"> Add Car </a>
