script.
  if (typeof module === 'object') {window.module = module; module = undefined;}
script(src='https://code.jquery.com/jquery-3.3.1.slim.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
script(src="../public/js/script.js")
script.
  if (window.module) module = window.module;
