extends layout.pug

block content
  .telephone
    h3(style="color: grey")  tel: 
      span(style="color: black  ") 0686486980
  .telegram
    h3(style="color: grey") telegram: 
      span(style="color: black  ") @pavel_savonov
