extends layout.pug

block content
  <div class="ui three column doubling stackable grid container">
    <div class="column">
      <h2>Car</h2>
      <p></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod porro placeat et corrupti tenetur vero esse
        sequi pariatur atque rem, culpa, cumque quis? Omnis sed ab itaque similique laudantium quia.</p>
      <a href="/car" class="ui primary button"> Go to Car </a>
    </div>
    <div class="column">
      <h2>Client</h2>
      <p></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod porro placeat et corrupti tenetur vero esse
        sequi pariatur atque rem, culpa, cumque quis? Omnis sed ab itaque similique laudantium quia.</p>
      <a href="/client" class="ui primary button"> Go to Client </a>
    </div>
    <div class="column">
      <h2>Contract</h2>
      <p></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod porro placeat et corrupti tenetur vero esse
        sequi pariatur atque rem, culpa, cumque quis? Omnis sed ab itaque similique laudantium quia.</p>
      <a href="/contract" class="ui primary button"> Go to Contract </a>
    </div>
  </div>
