<!DOCTYPE html>
<html lang="en">
include includes/head.pug
<title>#{title}</title>

<body>
  include includes/menu.pug
  <header>
    <h1>#{title}</h1>
  </header>

  <main>
    block content
  </main>

  include includes/script.pug
</body>

</html>