header {
  text-align: center;
  margin: 20px 0;
}

main {
  padding: 20px;

}

td>a {
  cursor: pointer;
}

main a.button {
  width: 100%;
}

.column {
  text-align: center;
}

.column .ui.primary.button {
  width: 100%;
}

h1 {
  text-transform: uppercase;
}

.ui.input {
  width: 100%;
}

td[data-label='Edit'] {
  background-color: black;
}